/*General*/
.App {
  min-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 10px;
  padding-top: 0;
}
.MainView{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
}
.important{
    font-size: 1.5rem;
}
.headline{
    display: flex;
    font-weight: bold;
    margin: 0;
    align-items: center;
}
.button{
    background: #466496;
    width: 15vw;
    outline: none;
    border: 1px solid aliceblue;
    border-radius: 10px;
    color: white;
}
.button:disabled{
    background: #5C6E8E;
}

/* Control Panel Stuff */
.ControlPanel{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 10vh;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}
.ControlPanelChild{
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.counterContainer{
    background: #809fba;
    color: black;
    padding: 5px;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

/*Scoreboard stuff*/
.Scoreboard{
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-width: 180px;
    height: 50vh;
    padding: 5px;

    overflow: scroll -moz-scrollbars-none;
}
.Scoreboard tbody, thead{
    display: block;
}
.Scoreboard tr{
    display: flex;
    justify-content: space-around;
}
.grommetux-table-row{
    width: 100%;
    margin-bottom: 10px;
}
.Scoreboard tbody{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
    text-align: center;
}


/*Playground stuff */
.Field{

}
.activeTile{
    background: #EFDA51 !important;
}
.Tile {
  height: 10vw;
  max-height: 12vh;
  width: 10vw;
  max-width: 12vh;
  display: inline-block;
  border: 3px solid black;
  background: #3694E7;
  outline: none;
}

/*
@media (max-width: 500px) {
    .MainView{
        flex-direction: column;
    }

}*/
