.App {
  min-width: 350px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 10px;
}
/* Control Panel Stuff */
.ControlPanel{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-width: 180px;
  height: 80vh;
  padding: 5px;

  border: 2px solid black;
  border-radius: 10px;
}
#startButton{
  background: yellow;
  color: black;
  padding: 5px;
  width: 95%;
  height: 4rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  transition: all linear 0.1s;
}
#startButton:disabled{
  background: #E3DAA8;
}
#startButton:hover{
  border: 2px solid black;
}
#startButton:hover:disabled{
  border: 1px solid black;
}
.headline{
    font-weight: bold;
}
.counterContainer{
    background: #809fba;
    color: black;
    padding: 5px;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}
/*Scoreboard stuff*/
.Scoreboard{
    font-size: 2.5vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-width: 180px;
    height: 80vh;
    padding: 5px;

    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.Scoreboard tbody, thead{
    display: block;
}
.Scoreboard tr{
    display: flex;
    justify-content: space-around;
}
.grommetux-table-row{
    width: 100%;
    margin-bottom: 10px;
}
.Scoreboard tbody{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
    text-align: center;
}
/*Playground stuff */

.Field{
    flex: 3;
}
.activeTile{
    background: yellow !important;
    /*background: url("./rich.jpg") no-repeat !important;
    background-size: cover !important;*/
}
.Tile {
  height: 8vw;
  width: 8vw;
  display: inline-block;
  border: 3px solid black;
  background: blue;
}
.Tile:focus{
  outline: none;
}

@media (max-width: 1071px) {
    /*.Tile{
        height: 70px;
        width: 70px;
    }*/
    .Scoreboard{
        min-width: 100px;
        min-height: 60vh;
    }
    .ControlPanel{
        min-width: 100px;
        min-height: 60vh;
    }
}
@media (max-width: 850px) {
    /*.Tile{
        height: 50px;
        width: 50px;
    }*/
    .Scoreboard{
        min-width: 80px;
        min-height: 50vh;
    }
    .ControlPanel{
        min-width: 80px;
        min-height: 50vh;
    }
}
@media (max-width: 850px) {
    .App{
        flex-direction: column;
        font-size: smaller;
        margin: 0;
        padding: 0;
    }
    .Tile{
        height: 50px;
        width: 50px;
    }
    .ControlPanel{
        min-width: 80px;
        min-height: 10vh;
        flex-direction: row;
    }
    .counterContainer{
        height: 4rem;
    }
}